<div id="sidebar" class="tm-sidebar-left uk-background-default">

    <div class="user">  
         <img id="avatar" width="100"  src="assets/img/icon.png" />
        <div class="uk-margin-top"></div>
        <div id="rol" class="uk-text-truncate"><b >{{userinfo.nombre}} {{userinfo.apellido}}</b> </div>
        <div id="email" class="uk-text-truncate"><p style="font-size:14 px ;">{{userinfo.correo}}</p> </div> 
        
    </div>

    <ul class="uk-nav uk-nav-default">

        <li>
            <a routerLink="/"><i class="fas fa-home"></i><b>Inicio</b></a>
        </li>

        <li>
            <a routerLink="/autor"><i class="fas fa-user"></i><b>Autores</b></a>
        </li>
        <li> 
            <a routerLink="/libro"><i class="fas fa-book"></i><b>Libros</b></a>
        </li>
        <li>
            <a routerLink="/editorial"><i class="fas fa-bookmark"></i><b>Editoriales</b></a>
        </li>
        
       

        

    </ul>
  
       
    
</div>